body {
  background-color: #fffbf8;
}
.shipping {
  text-align: center;
  display: block;
  margin: 0 auto;
  background: #c60c88;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 20px;
}
.container {
  max-width: 2000px;
  padding: 0px;
  display: block;
  margin: 0 auto;
}

.header1 {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.logo {
  margin-top: -10px;
}
.skinC {
  margin-left: 150px;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}
.makeU {
  margin-left: 20px;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}
.perFU {
  margin-left: 20px;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}
.gifS {
  margin-left: 20px;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}
.specialO {
  margin-left: 20px;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}

button {
  color: black;
  border: none;
  background: transparent;
  padding: 5px 10px;
  border-radius: 10px;
}
button.skinC {
  background: #f681cf;
}

img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
strong {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}
li {
  text-decoration: none;
  display: inline;
}
.menu {
  position: absolute;
  top: 33px;
  display: none;
}

.hoverzone {
  position: relative;
}

.hoverzone:hover .menu {
  display: block;
}
.form-select {
  border-radius: 10px;
  border: 1px solid #dc74ba;
  padding: 5px;
  margin: -10px 0 0 0;
}

.rose {
  margin-top: -60px;
}
.text-b {
  color: #f1e8e9;
  background-color: rgb(8, 0, 0);
  border: 1px solid rgb(74, 15, 15);
  border-radius: 35px;
  padding: 15px 30px 15px 30px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 250px;
}
.text-b:hover {
  color: #fff;
  background-color: #be0380;
  border: 1px solid #bd1785;
  text-decoration: none;
}

.banner {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  border-radius: 30px;
}
.fav {
  border-radius: 30px;
}
.dior {
  border-radius: 30px;
}

.store {
  background: transparent;
  margin-left: -10;
  opacity: 0.8;
}
.costumer {
  background: transparent;
  opacity: 0.8;
}

.search-field {
  border-radius: 10px;
  border: 1px solid #dc74ba;
  padding: 5px;
}
.wrapper {
  display: block;
  margin: 100 auto;
  background: radial-gradient(
    1023px at 3.1% 6.9%,
    rgb(255, 255, 255) 0%,
    rgb(198, 12, 105) 74.9%
  );

  max-width: 60%;
}
.text {
  margin-left: 50px;
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.Right {
  margin-top: 50px;
}
.fav {
  font-family: "Italianno", cursive;
}
.valentine-sale {
  background-color: #eee5e2;
  display: block;
  border-radius: 30px;
  margin: 20px;
  margin-top: -5px;
  margin-bottom: 0px;
  max-height: 345px;
}
.video-val {
  border-radius: 30px;
}
hr {
  color: #3f0107;
  font-size: 100px;
  margin-top: -10px;
}
.lipstick {
  margin-top: 0px;
  margin-left: 20px;
  padding: 0;
  border-radius: 20px;
}
.videocol {
  max-width: 220px;
  margin-right: 30px;
}
.val {
  text-decoration: wavy;
  color: #c60c88;
}
.sale {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
}

.red {
  color: red;
  font-weight: bold;
}
.account {
  font-size: 12px;
  margin-top: 20px;
  margin-left: -30px;
}

.fav {
  margin-right: 20px;
}
.search-input {
  font-size: 12px;
  size: 10px;
}
.damn {
  font-size: 12px;
}
.descriptions {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 30px;
  color: #000;
  margin-right: -250px;
  opacity: 0.7;
  line-height: 50px;
  text-align: center;
}

h2 {
  font-size: 25px;
}
.lov,
.va {
  color: rgb(200, 6, 6);
  opacity: 1.99;
  font-family: "Alex Brush", cursive;
}

.products {
  border-radius: 30px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
p.CATEGORY {
  font-weight: 300px;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;

  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
  color: #c60c88;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid white;
}
.categoriesbtn {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 150;
  background: #fcecec;
  padding: 6px 0 7px;
  border-radius: 50px;
  max-height: 39px;
}
.cats {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1200px;
}
.skinli {
  margin-left: 70px;
  border: 1px solid white;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
}
.makeupli {
  margin-left: 200px;
  background: #fcecec;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}
.perfumeli {
  margin-left: 230px;
  background: #fcecec;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}
.gift-setsli {
  margin-left: 210px;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}

.cat1th {
  border-radius: 30px;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}
.cat2th {
  border-radius: 30px;
  opacity: 0.5px;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}
.cat3th {
  border-radius: 30px;
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 30px;
}
.cat4th {
  border: 1px solid white;
  padding: 7px 0 7px;
  border-radius: 10px;
  border-radius: 30px;
}
footer {
  background: #f9e0f1;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  padding: 10px 5px 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-top: 100px;

  max-width: 100%;
}
.content {
  background-color: #c60c88;
  padding-top: 10px;
  color: white;
}

.contact-me {
  padding-top: 50px;
  color: #004997;
  font-size: 12px;
  font-weight: bold;
}
.contactme {
  padding-top: 60px;
  color: #c60c88;
  font-size: 12px;
}
.no {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contacts {
  color: #000;
}

.my-favorite-garments {
  border-radius: 30px;
  max-width: 1519.2px;
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fcf6ea;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
}
.my-stuff {
  font-weight: 300px;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fcecec;
  padding: 7px 0 7px;
  border-radius: 10px;
  color: #c60c88;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
}
.things {
  margin-top: 30px;
}
.my-p {
  margin-left: 0px;
  border-radius: 30px;
}
.my-favorite-perfumes {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1450px;
  border-radius: 20px;
}
.Ps {
  padding: 0px 0px 0px 0px;
  display: block;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 45px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.Ps6 {
  padding: 0px 0px 0px 0px;
  display: block;
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 45px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.titr {
  margin-left: 80px;
}
.welcome {
  font-weight: 200px;
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  background: #FFFBF8
  padding: 7px 0 7px;
  border-radius: 10px;
  color: #c60c88;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid white;
  max-width: 390px;
  display: block;
  margin: 0 auto;
}
